<table>
  <tr>
    <th>ID</th>
    <th>Engine Name</th>
    <th>Exchange</th>
    <th>IP</th>
    <th>Port</th>
  </tr>

<% @connections.each do |connection| %>
  <tr>
    <th><%= connection.idconnections %></th>
    <th><%= connection.engineName %></th>
    <th><%= connection.get_exchange %> <th>
    <th><%= connection.get_ip %> <th>
    <th><%= connection.port %> <th>
  </tr>
<% end %>
</table>
