<h1> Update Connection <%= @connection.idconnections %> </h1>


  <%= form_for @connection do |f| %>
      <%= f.label "Engine Name" %>
      <%= select("connection", "engineName", @engines.collect {|eng| [ eng.engineName, eng.engineName ] }, {include_blank: 'None'}) %><br>
      <%= f.label "Exchange"%>
      <%= f.text_field :exchange, placeholder: 'Phone Number' %><br>
      <%= f.label "IP"%>
      <%= f.text_field :ip, placeholder: 'Instagram Handle' %><br>
      <%= f.label "Port"%>
      <%= f.text_field :port, placeholder: 'Snapchat' %><br>
    <%= f.submit %>
  <% end %>
